:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
:root { font-family: 'Inter var', sans-serif; }
}
.container {
    font-family: 'Inter', sans-serif !important;
}
a.back {
    color: #0741E1 !important;
}
